/* scrollbar.css */
.custom-scrolbar-k::-webkit-scrollbar {
  width: 18px;
  padding: 10px;
  background: #E5F3F3;
}

.custom-scrolbar-k::-webkit-scrollbar-track {
  background: white;
  margin: 45px 0 0 0; /* This will create space at top and bottom */
}

.custom-scrolbar-k::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #007bff, #0056b3);
  border-radius: 8px;
  border: 3px solid #CEE7FE; /* This matches your container background */
  background-clip: padding-box;
}

.custom-scrolbar-k::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #0056b3, #003a8b);
  border: 3px solid #CEE7FE;
}

/* Hide scrollbar buttons */
.custom-scrolbar-k::-webkit-scrollbar-button {
  display: none;
}